header  {
    background: purple;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    padding: 10px;
    color: lightgrey;
    border-bottom: solid 4px black
}
body{
    background: lightgrey
}
.form-group {
    display: flex;
}

.forecast-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.city-button {
    height: 38px;
    background: purple;
    color: white;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

.weather-row {
    border: solid 3px;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 0px 0px;
    width: 100%;
    display: flex;
}
.weather-card {
    background: purple;
    color: whitesmoke;
    border: solid 3px violet;
    margin: 20px 0px 0px 0px;
   
}

.clear-button {
    margin: 10px 0px 0px 0px;
    border: double 4px violet;
    color: purple;
        
}

.city-label {
    font-size: 20px;
    font-weight: bold;
}

.row {
    width: 100;
}

.search-row {
    width: 100%;
}